.header {
    padding: 96px 0 77px;
    background: var(--white);
}

.header__title {
    font-family: 'Inter', sans-serif;
    font-size: 50px;
    font-weight: 500;
    line-height: 64px;
    color: var(--black);
    margin: 0;
}

@media screen and (max-width: 767px) {
    .header {
        padding: 96px 16px 69px;
    }

    .header__title {
        font-size: 28px;
        font-weight: 400;
        line-height: 38px;
        color: var(--grey-4);
    }

    .header_inner {
        padding: 64px 16px 0;
        background: #f9fafc;
    }
}