body {
    font-family: Verdana, sans-serif;
    color: #efefef;
    text-align: center;
}

body, h1, h2, ul, ol {
    margin: 0;
}

h1 {
    color: #000;
    background-color: #DDDDDD;
    font-size: 42px;
    padding: 15px;
}

nav {
    background-color: #2D3D4D;
    padding: 25px;
}

a {
    font-size: 24px;
    color: #efefef;
}

main {
    background-color: #D6C6BC;
    padding: 10px;
}

article {
    background-color: #775549;
    text-align: left;
    margin: 10px 0px;
    padding: 30px;
}

h2 {
    margin-bottom: 20px;
}

footer {
    font-size: 30px;
    background-color: #325131;
    padding: 15px;
}