.histogram {
    font-family: 'Inter';
    border: 1px solid var(--grey-3);
    border-radius: 8px;
    padding: 16px 24px 24px;
}

.histogram__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 39px;
}

.histogram__header-right {
    padding-top: 3px;
}

.histogram__link {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--primary);
    text-decoration: none;
}

.histogram__title {
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--black);
    opacity: 0.8;
}

.histogram__number {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: var(--black);
    margin: 6px 0 0 0;
}

.histogram__chart {
    display: flex;
    align-items: flex-end;
    gap: 1px;
    padding: 0 5px 0 2px;
    height: 50px;
}

.histogram__column {
    flex-grow: 1;
    background: var(--primary);
}

.histogram__column_size20 {
    height: 20%;
}

.histogram__column_size40 {
    height: 40%;
}

.histogram__column_size60 {
    height: 60%;
}

.histogram__column_size80 {
    height: 80%;
}

.histogram__column_size100 {
    height: 100%;
}