.page {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.page__preview {
    flex-grow: 1;
}

.page_inner {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100%;
    background: #f9fafc;
}