.page-component {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100%;
    background: #f9fafc;
}

.page-component__header {
    padding-top: 82px;
    background: var(--white);
}

.page-component__main {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 56px;
}

.page-component__footer {
    padding: 92px 0 55px;
}

.page-component__footer-title {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--grey-3);
    text-align: center;
}