.preview {
    background: #f9fafc;
    border-top: 1px solid var(--grey-2);
    border-bottom: 1px solid var(--grey-2);
    padding: 68px 0 204px;
}

.preview__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

@media screen and (max-width: 767px) {
    .preview {
        border-bottom: none;
        padding: 24px 16px 26px;
    }

    .preview__cards {
        gap: 16px;
    }
}